@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Kufyan Arabic Regular.otf
Elmessiri-bold.ttf
AraAqeeq-Bold.otf
*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #ff7f00;
  --secondary: #ffa500;
  --green: darkcyan;
  --darkBlue: darkblue;
  --third: mediumvioletred;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Main Font';
  src: url('/Fonts/AraAqeeq-Bold.otf');  
 }

/* In your css file where you want to use the font */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  font-family: 'Main Font';
  font-size: 20px;
}

.container {
  /* width: 500px; */
  position: relative;
  margin: auto;
}

#reader {
  /* display: none; */
  /* width: 100vw; */
  /* height: 150px; */
  /* opacity: 0.5; */
  margin: auto;
}
#reader * {
  width: 100%;
}
.none {
  display: none;
}
.active {
  background-color: dodgerblue;
  padding: 5px;
  border: 1px solid;
  color: #fff;
}

#reader {
  position: fixed;
  bottom: 0;
  width: 50vw;
  right: 50%;
  transform: translateX(50%);}
/* 
@media (min-width: 640px) {
  #reader {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  #reader {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  #reader {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  #reader {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  #reader {
    max-width: 1536px;
  }
} */

/* width */
::-webkit-scrollbar {
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d16002;
  border: 1px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}